@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* .........................Important & Mandatory Properties........... */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Universal Selector (All Elements Selected) */
html {
  font-size: 62.5%;
}

/*  62.5% = 10px = 1rem But By Default 100% = 16px = 1rem */
body {
  font-family: 'Montserrat', sans-serif;
}

::-moz-selection {
  background: yellow;
  color: black;
  outline: white;
  cursor: pointer;
}

::selection {
  background: yellow;
  color: black;
  outline: white;
  cursor: pointer;
}

/* .........................Variable Creation Start.................... */
:root {
  --width: 100vw;
  /* width: var(--width); | width: calc(var(--width) - 80vw); */
  --height: 100vh;
  /* height: var(--height); | height: calc(var(--height) - 80vh); */
  --primary-color: #00b4d5;
  /* var(--primary-color); */
  --secondary-color: #28536d;
}

/* .........................Variable Creation End...................... */
.body_container {
  height: var(--height);
  width: var(--width);
  background-image: url("/images/Background Wallpapers.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.body_container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 1.5rem 3.5rem 0 3.5rem;
}

.body_container .header .mascreation {
  color: var(--secondary-color);
  font-size: 3.6rem;
  font-weight: 400;
  padding-right: .5rem;
}

.body_container .header .mascreation span {
  color: var(--primary-color);
  font-weight: 600;
}

.body_container .header .line {
  width: 100%;
  height: .25rem;
  background: var(--primary-color);
}

.body_container .main_container {
  width: 100%;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.body_container .main_container .content_box {
  height: 500px;
  width: 920px;
  position: relative;
  padding-top: 6rem;
}

.body_container .main_container .content_box .hello {
  font-size: 8rem;
  margin-left: -.4rem;
  margin-bottom: -1rem;
  color: var(--secondary-color);
}

.body_container .main_container .content_box .profile {
  height: 350px;
  width: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 140, 255, 0.8)), to(rgba(54, 34, 73, 0.8)));
  background: linear-gradient(rgba(0, 140, 255, 0.8), rgba(54, 34, 73, 0.8));
}

.body_container .main_container .content_box .profile .profile_details {
  padding: 4rem;
  color: #fff;
}

.body_container .main_container .content_box .profile .profile_details .intro .name {
  width: 63.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 4.45rem;
  font-weight: 400;
  border-bottom: .35rem solid #fff;
  border-radius: 5px;
  overflow: hidden;
}

.body_container .main_container .content_box .profile .profile_details .intro .name span {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: .6rem 1.5rem;
  margin-right: 1.5rem;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--secondary-color);
  background: #fff;
}

.body_container .main_container .content_box .profile .profile_details .intro .desig {
  padding-top: .5rem;
  font-size: 2.75rem;
  font-weight: 200;
}

.body_container .main_container .content_box .profile .profile_details .buttons {
  width: 56%;
  margin-top: 5rem;
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia a span {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia a span:hover {
  opacity: .8;
  border: 1px solid transparent;
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia .w {
  background: url("/images/icon/w.png");
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia .f {
  background: url("/images/icon/f.png");
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia .i {
  background: url("/images/icon/i.png");
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia .t {
  background: url("/images/icon/t.png");
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia .p {
  background: url("/images/icon/p.png");
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia .l {
  background: url("/images/icon/l.png");
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia .y {
  background: url("/images/icon/y.png");
}

.body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia .icon {
  background-size: cover;
  background-position: center;
}

.body_container .main_container .content_box .profile .profile_details .buttons .action_button {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_container .main_container .content_box .profile .profile_details .buttons .action_button a {
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 12px;
  width: 200px;
  height: 45px;
  font-size: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.body_container .main_container .content_box .profile .profile_details .buttons .action_button a div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 195px;
  height: 40px;
  color: #fff;
  border-radius: 10px;
}

.body_container .main_container .content_box .profile .profile_details .buttons .action_button a .resume {
  background: -webkit-gradient(linear, left top, left bottom, from(#0bd30b), to(#008b2a));
  background: linear-gradient(#0bd30b, #008b2a);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.body_container .main_container .content_box .profile .profile_details .buttons .action_button a .resume:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#008b2a), to(#0bd30b));
  background: linear-gradient(#008b2a, #0bd30b);
}

.body_container .main_container .content_box .profile .profile_details .buttons .action_button a .github {
  background: -webkit-gradient(linear, left top, left bottom, from(#3f2069), to(#2e1732));
  background: linear-gradient(#3f2069, #2e1732);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.body_container .main_container .content_box .profile .profile_details .buttons .action_button a .github:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#2e1732), to(#3f2069));
  background: linear-gradient(#2e1732, #3f2069);
}

.body_container .main_container .content_box .profile img {
  height: 520px;
  position: absolute;
  right: 0;
  bottom: -2.8rem;
}

.body_container .footer {
  width: var(--width);
  height: 8rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#161616));
  background: linear-gradient(#242424, #161616);
  position: fixed;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.body_container .footer p {
  font-size: 2rem;
  color: #9e9e9e;
}

.body_container .footer p span {
  color: #dadada;
  font-weight: 400;
}

.body_container .footer p span span {
  color: var(--primary-color);
}

@media (max-width: 939px) {
  .body_container .main_container .content_box {
    width: 750px;
  }
  .body_container .main_container .content_box .hello {
    font-size: 6rem;
  }
  .body_container .main_container .content_box .profile .profile_details {
    padding: 2rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .name {
    width: 60%;
    font-size: 3.4rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .desig {
    font-size: 2.2rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons {
    width: 55%;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons .action_button a {
    width: 170px;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons .action_button a div {
    width: 165px;
  }
  .body_container .main_container .content_box .profile img {
    bottom: -.495rem;
  }
  .body_container .footer p {
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .body_container .header .mascreation {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .body_container .header .line {
    height: .15rem;
  }
  .body_container .main_container .content_box {
    height: 500px;
    width: 98%;
    position: relative;
    padding-top: 5rem;
  }
  .body_container .main_container .content_box .hello {
    font-size: 5rem;
    margin-bottom: -.5rem;
  }
  .body_container .main_container .content_box .profile {
    height: 320px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 140, 255, 0.8)), to(rgba(54, 34, 73, 0.8)));
    background: linear-gradient(rgba(0, 140, 255, 0.8), rgba(54, 34, 73, 0.8));
  }
  .body_container .main_container .content_box .profile .profile_details {
    padding: 4rem 1rem;
    color: #fff;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .name {
    width: 370px;
    font-size: 3rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .name span {
    padding: .5rem 1rem;
    font-size: 2.5rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .desig {
    font-size: 1.9rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons {
    width: 350px;
    margin-top: 5rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons .socila_meadia a span {
    width: 40px;
    height: 40px;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons .action_button {
    margin-top: 3rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons .action_button a {
    width: 155px;
    height: 44px;
    font-size: 2rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons .action_button a div {
    width: 150px;
    height: 40px;
  }
  .body_container .main_container .content_box .profile img {
    height: 460px;
    right: -1.5rem;
    bottom: 4.5rem;
  }
  .body_container .footer {
    height: 6rem;
  }
  .body_container .footer p {
    font-size: 1.5rem;
  }
}

@media (max-width: 667px) {
  .body_container .header {
    padding: 1.5rem 1rem 0 1rem;
  }
  .body_container .header .mascreation {
    font-size: 2rem;
  }
  .body_container .main_container .content_box {
    padding-top: 10rem;
    height: 500px;
  }
  .body_container .main_container .content_box .hello {
    font-size: 4.5rem;
  }
  .body_container .main_container .content_box .profile {
    height: 320px;
    position: relative;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .body_container .main_container .content_box .profile .profile_details {
    width: 96%;
    height: 240px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 1.5rem 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .name {
    width: 360px;
    font-size: 3rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .name span {
    padding: .6rem 1rem;
    font-size: 2.5rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .desig {
    font-size: 1.85rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons {
    width: 360px;
    margin-top: 2.5rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons .action_button {
    margin-top: 1.25rem;
  }
  .body_container .main_container .content_box .profile img {
    height: 500px;
    right: 0;
    bottom: -3rem;
  }
  .body_container .footer {
    height: 6rem;
  }
  .body_container .footer p {
    font-size: 1.2rem;
  }
}

@media (max-width: 420px) {
  .body_container .main_container .content_box {
    width: 100%;
    height: 500px;
  }
  .body_container .main_container .content_box .hello {
    font-size: 4.5rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .name {
    width: 320px;
    font-size: 2.57rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .name span {
    padding: .5rem .8rem;
    font-size: 2.6rem;
    margin-right: .8rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .desig {
    font-size: 1.65rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons {
    width: 320px;
  }
  .body_container .footer {
    height: 6rem;
  }
  .body_container .footer p {
    font-size: 1.1rem;
  }
}

@media (max-width: 374px) {
  .body_container .main_container {
    padding: 0;
  }
  .body_container .main_container .content_box .hello {
    font-size: 4.5rem;
    margin: 0;
  }
  .body_container .main_container .content_box .profile {
    height: 320px;
  }
  .body_container .main_container .content_box .profile .profile_details {
    width: 98%;
    padding: 1.5rem 1rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .name {
    width: 100%;
    font-size: 2.2rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .name span {
    padding: .6rem 1rem;
    font-size: 2.5rem;
  }
  .body_container .main_container .content_box .profile .profile_details .intro .desig {
    font-size: 1.5rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons {
    width: 100%;
    margin-top: 2.5rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons .action_button {
    margin-top: 1.25rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons .action_button a {
    width: 130px;
    height: 40px;
    font-size: 1.6rem;
  }
  .body_container .main_container .content_box .profile .profile_details .buttons .action_button a div {
    width: 125px;
    height: 35px;
  }
  .body_container .main_container .content_box .profile img {
    height: 440px;
    bottom: -2.6rem;
  }
  .body_container .footer {
    height: 6rem;
  }
  .body_container .footer p {
    font-size: 1rem;
  }
}

/* ..........................Media Query Start......................... */
/* 4K - 2560px */
@media (max-width: 2560px) {
  html {
    /*font-size: 62.5%;*/
  }
}

/* Laptop L - 1440px */
@media (max-width: 1440px) {
  html {
    /*font-size: 62.5%;*/
  }
}

/* Laptop 1024px */
@media (max-width: 1024px) {
  html {
    /*font-size: 62.5%;*/
  }
}

/* Mini Laptop | Tablet 998px */
@media (max-width: 998px) {
  html {
    /*font-size: 55%;   55% = 8.8px */
  }
}

/* Tablet - 768px */
@media (max-width: 768px) {
  html {
    /*font-size: 45%;   45% = 7.2px */
  }
}

/* Mobile L - 425px */
@media (max-width: 425px) {
  html {
    /*font-size: 31.25%;*/
  }
}

/* Mobile M - 375px */
@media (max-width: 375px) {
  html {
    /*font-size: 31.25%;*/
  }
}

/* Mobile S - 320px */
@media (max-width: 320px) {
  html {
    /*font-size: 31.25%;*/
  }
}

/* ..........................Media Query End........................... */
/*# sourceMappingURL=style.css.map */